body {
	margin: 0;
	padding: 0;
}

#canvas {	
	width: 800px;
	height: 800px;
	background: Black;	
}

#debugContainer {
	width: 496px;
	height: 100px;
	background: White;
	border: 2px dashed Black;
	margin-top: 2px;
}

.debugStringMsg {
	width: 496px;	
}